In [3]:
import pandas as pd
import numpy as np

# Creating Imbalanced Dataset

In [4]:
df1=pd.DataFrame({
    'c1':np.random.normal(loc=0,scale=1,size=900),
    'c2':np.random.normal(loc=0,scale=1,size=900),
    'target':[0]*900
})

df2=pd.DataFrame({
    'c1':np.random.normal(loc=0,scale=1,size=100),
    'c2':np.random.normal(loc=0,scale=1,size=100),
    'target':[1]*100
})

df=pd.concat([df1,df2]).reset_index(drop=True)
df

           c1        c2  target
0   -1.079667  1.187370       0
1   -0.048789  1.693944       0
2    0.397549 -1.011805       0
3    0.309484 -1.676489       0
4   -0.142085  2.683746       0
..        ...       ...     ...
995  0.169849  0.181042       1
996 -1.068668  1.009106       1
997  1.430822 -1.309262       1
998 -1.649075 -2.258863       1
999  0.119296  0.352410       1

[1000 rows x 3 columns]

In [13]:
from sklearn.utils import resample

df_minority=df[df['target']==1]
df_majority=df[df['target']==0]
df_upsampled_minority=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

df=pd.concat([df_upsampled_minority,df_majority])